{% extends 'base.html' %}
{% block title %} Admin {% endblock title %}
{% block body %}
<ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
<!-- Navbar -->

<div class="container-3">
    <div class="table">
        <table>
            <thead>
                <th>SNo</th>
                <th>Applicant Name</th>
                <th>Appointment Date</th>
                <th>Phone Number</th>
            </thead>
            <tbody>
                {% for A,AP,APH in appoint %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ A.first_name + ' ' + A.last_name }}</td>
                    <td>{{ AP.appointment_date }}</td>
                    <td>{{ APH.applicant_phno }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}